<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="host" value="127.0.0.1"/>
    <add key="dbname" value="postgres"/>
    <add key="user" value="postgres"/>
    <add key="port" value="5434"/>
    <add key="password" value="postgres"/>
    <!--Path to pg_dump version 11-->
    <add key="PathToPG_DUMPv11" value="D:\WikiForm\pg_utils\v11\pg_dump.exe"/>
    <!--Path to pg_restore version 11-->
    <add key="PathToPG_RESTOREv11" value="D:WikiForm\pg_utils\v11\pg_restore.exe"/>
    <!--Path to pg_dump version 10-->
    <add key="PathToPG_DUMPv10" value="D:\WikiForm\pg_utils\v10\pg_dump.exe"/>
    <!--Path to pg_restore version 10-->
    <add key="PathToPG_RESTOREv10" value="D:\WikiForm\pg_utils\v10\pg_restore.exe"/>
  </appSettings>
</configuration>